/* Импорты */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import './styleNull.css';
/* Оболочка */
.wrapper {
  
}
/* Ограничивающий контейнер */
.container {
  max-width: 1100px;
  margin: 0 auto;
}
/* Mainblock */
.mainblock {
  height: 100vh;
  flex: 1 1 auto;
  background-image: url(../images/mainblock/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainblock__content {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainblock__logo {
}
.mainblock__text {
  color: #ffffff;
  position: relative;
  padding: 4.5% 1%;
  margin-bottom: 4.5%;
}
.mainblock__text::after {
  content: "";
  width: 105px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin: 0px 0px 0px -52.5px;
  bottom: 0;
}
.mainblock__title {
  font-family: Lato;
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  margin-bottom: 10px;
}
.mainblock__subtitle {
  font-family: Lato;
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.16em;
}
.mainblock__footer {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.btn {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.06em;
  display: inline-block;
  height: 47px;
  padding: 0px 42px;
  line-height: 44px;
  position: relative;
  transition: all .35s;
}
.btn span{
  position: relative;
  z-index: 2;
}
.btn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: all .35s;
}
.btn:hover:after{
  width: 100%;
}
.btn_w {
  color: #ffffff;
  border: 1px solid #fff;
}
.btn_w:hover {
  color: #596e8d;
}
.btn_b {
  color: #000;
  border: 1px solid #000;
}
.btn_b:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #596e8d;
  transition: all .35s;
}
.btn_b:hover {
  color: #fff;
  border: 1px solid #596e8d;
}
.mainblock__arrow {
  position: relative;
  padding-top: 40%;
  animation: arrow 2s infinite ease;
}
@keyframes arrow {
  0% {top: -20px;}
  50% {top: 0;}
  100% {top: -20px;}
}
/* ----------------------------------- */
.content {
  background: #fff;
}
/* Menu */
.menu {
}
.menu__items {
  padding: 22px 0;
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__link {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #3c3c3c;
  margin: 0 22px;
  transition: all 300ms ease;
  cursor: pointer;
}
.menu__link:hover {
  color: #ada074;
}
.menu__link_active {
  color: #ada074;
  font-weight: 700;
}
/* --- */

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-block__title {
  font-family: Lato;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
  padding-bottom: 35px;
  margin-bottom: 37px;
  position: relative;
}
.header-block__title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 81px;
  height: 1px;
  background-color: #000000;
  margin-left: -40.5px;
}
.header-block__subtitle {
  max-width: 700px;
  font-family: Lato;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
  text-align: center;
  padding: 0 15px;
}

/* About ================================================ */
.about {
  padding-top: 130px;
}
.about__header-block {
}
.about__content {
  max-width: 825px;
  margin: 0 auto;
  padding-bottom: 5.7%;
}
.about__row {
  display: flex;
  justify-content: center;
}
.about__column {
  max-width: 260px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 33.3%;
  padding: 0 20px;
}
.about__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  padding: 25px;
  margin-top: 21%;
  border: #f0f0f0 1px solid;
  border-radius: 50%;
}
.about__icon_l img {
  position: relative;
  left: 12%;
}
.about__title {
  font-family: Lato;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: #000000;
  margin: 40px 0 35px 0;
  text-align: center;
}
.about__subtitle {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
  text-align: center;
}

/* Portfolio =============================================== */
.portfolio {
  background-color: #f3f3f3;
  padding: 105px 0 64px;
}
.portfolio__header-block {
}
.portfolio__title {
  margin-bottom: 50px;
}
.portfolio__filter {
}
.filter {
}
.filter__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__item {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #3c3c3c;
  margin: 0 22px;
  transition: all 300ms ease;
  cursor: pointer;
}
.filter__item:hover {
  color: #ada074;
}
.filter__item_active {
  color: #ada074;
  font-weight: 700;
}

.portfolio__items {
  margin:136px 0px 64px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio__column {
  display: none;
  max-height: 27rem;
  flex: 0 1 50%;
  padding: 0 15px 17px;
  overflow: hidden;
  text-align: center;
}
.filter__show {
  display: flex;
}
.portfolio__column a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.portfolio__column a img:hover {
  border: 3px solid #596e8d;
}
.portfolio__item {
}
.portfolio__footer {
  display: flex;
  justify-content: center;
}
.portfolio__btn {
}

/* Partners */
.partners {
  background-image: url(../images/partners/bg.png);
  background-position: bottom;
  background-size: auto;
  background-repeat: no-repeat;
}
.partners__content {
  margin: 0 auto;
  max-width: 600px;
}
.partners__title {
  font-family: Lato;
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
}
.partners__items {
  display: flex;
  justify-content: space-between;
  padding: 95px 0 105px;
}
.partners__column {
  padding: 10px;
  display: flex;
  align-items: center;
}
.partners__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contacts ==================================================*/
.contacts {
  padding: 180px 0 100px;
}
.contacts__header-block {
}
.contacts__title {
}
.contacts__content {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}
.contacts__column {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
.contacts__form {
}
.form {
}
.form__content {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.form__row {
  display: flex;
  margin-bottom: 75px;
}
.form__input {

}
.form__input:first-child {
  margin-right: 50px;
}
.form__label {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 18px;
}
.input {
  border-top: 1px solid #000;
  background-color: #f8f7f7;
  font-size: 16px;
  padding: 8px;
}
.textarea {
  width: 100%;
  height: 120px;
}
.form__textarea {

}
.form__footer {
  margin: 42px 0 0;
  align-self: flex-end;
}
.form__btn {
  background-color: #fff;
}
.form__btn:hover {
  border-bottom:1px solid #000;
}
.form__btn:active {
  background-color: #000;
  color: #fff;
}
.info-contacts {
  align-self: flex-start;
}
.info-contacts__text {
  max-width: 255px;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
  align-self: flex-start;
}
.info-contacts__name {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  align-self: flex-start;
  padding: 40px 0 25px;
}
.info-contacts__social {
  align-self: flex-start;
}
.social {
}
.social__item {
  padding-right: 10px;
}
.social-item {
}
.info-contacts__mail {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
  align-self: flex-start;
  padding-top: 15px;
}
.info-contacts__mail a {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.info-contacts__mail a:hover {
  text-decoration: underline;
}

/* Footer ================================================ */
.footer {
  background-color: #3c3c3c;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 0px;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo-footer {
}
.footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 35px;
}
.menu-footer {
}
.menu-footer__list {
  display: flex;
}
.menu-footer__link {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #a4a4a4;
  padding: 0px 10px;
}
.menu-footer__link:hover {
  text-decoration: underline;
}
.footer__copyright,
.footer__copyright a {
  font-family: MyriadPro;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}
.footer__copyright a:hover {
  text-decoration: underline;
}

/* ===================================================== */
/* Медиа-запросы */
@media screen and (max-width: 1024px) {
  .partners__title {
    padding-top: 70px;
  }
  .partners__items {
    padding: 50px 0 85px;
  }
  .contacts {
    padding: 100px 0 40px;
  }
  .contacts__content {
    padding-top: 40px;
  }
  .footer__content {
    padding: 30px 0px;
  }
  .menu-footer {
    margin: 25px 0px;
  }
  .footer__copyright,
  .footer__copyright a {
  font-size: 12px;
  }
}
@media screen and (max-width: 800px) {
  .contacts {
    padding: 80px 0 20px;
}
}
@media screen and (max-width: 730px) {
  .form__content {
    padding-right: 0px;
  }
  .form__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .form__label {
    margin: 20px 0 8px;
  }
  .form__input {
  
  }
  .form__input:first-child {
    margin-right: 0px;
  }
  .info-contacts {
    align-self: center;
    padding-bottom: 45px;
  }
  .info-contacts__name {
    padding: 13px 0 20px;
  }
  .info-contacts__mail {
    padding-top: 20px;
  }
}
@media screen and (max-width: 625px) {
  .header-block__title {
    padding-bottom: 15px;
    margin-bottom: 22px;
  }
  .menu__items {
    padding: 3% 0;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__list li {
    margin: 3% 0;
  }
  .menu__link {
    font-family: Lato;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: #3c3c3c;
    margin: 0 22px;
  }
  .menu__link:hover {
    color: #ada074;
    font-weight: 700;
  }
  .menu__link_active {
    color: #ada074;
    font-weight: 700;
  }
  .about__row {
    display: flex;
    flex-wrap: wrap;
  }
  .about {
    padding-top: 50px;
  }
  .about__column {
    max-width: none;
    flex: 1 1 100%;
  }
  .about__icon {
    margin-top: 10%;
  }
  .about__title {
    margin: 10px 0 13px 0;
  }
  .about__subtitle {
    max-width: 60%;
  }
  .portfolio {
    padding: 50px 0 30px;
  }
  .portfolio__column {
    flex: 0 1 100%;
  }
  .portfolio__items {
    margin: 30px 0;
  }
  .partners__title {
    padding-top: 50px;
  }
  .partners__items {
    flex-wrap: wrap;
    padding: 50px 0 65px;
  }
  .partners__column {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
  }
  .contacts__content {
    flex-wrap: wrap;
    padding-top: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 470px), screen and (max-height: 600px) {
  .mainblock__title {
    font-size: 20px;
    line-height: 26px;
  }
  .mainblock__subtitle {
    font-size: 12px;
    line-height: 26px;
  }
  .column__order-1 {
    order: 2;
  }
  .column__order-2 {
  order: 1;
  }
  .footer__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer__logo {
    flex: 1 1 50%;
  }
  .footer__menu {
    flex: 1 1 50%;
    margin: 0px 
  }
  .menu-footer__list {
    display: block;
  }
  .menu-footer__list li {
    margin: 10px 0px;
  }
  .footer__copyright,
  .footer__copyright a {
  font-size: 10px;
  margin-top: 30px;
  }
  .footer__content {
    padding: 30px 0 10px;
  }
}